<table style="height: 123px;" width="100%">
  <tbody>
  <tr>
  <td style="width: 762.883px;">
  <p><strong>Pavan Solanke</strong></p>
  <p>Email - <a href="mailto:solankepl@gmail.com">solankepl@gmail.com</a>, Contact Num: 9890317118</p>
  <p> </p>
  </td>
  <td style="width: 234.117px;">
      <img src="../../../assets/imgs/photo.jpg"/>  
  </td>
  </tr>
  <tr>
  <td style="width: 762.883px; vertical-align: top;">
  <p><strong>Profile Summary</strong> </p>
  <ul>
  <li>Over <strong>6.5 years of experience in the Front End Technology</strong>, coupled with extensive experience in developing Software Applications, Web Components</li>
  <li>A resourceful, solution-focused professional with excellent interpersonal and rapport-building skills, highly motivated, active listener and detail oriented.</li>
  <li><strong>Extensive experience in Dreamweaver, HTML5 and CSS3, Less, Bootstrap, Lightningdesign system, JavaScript, jQuery, Backbonejs, Angular, ionic framework, Flash as2 and as3.</strong></li>
  <li>Knowledge of websites in completely resolution free and fully accessible using CSS and div tags.</li>
  <li>Experience in developing markup by following W3 standards and browser.</li>
  <li>Good analytical and problem solving approach.</li>
  <li>Quick Learner and Self Motivated with excellent analytical and communication and Interpersonal skills that are required to effectively work in the field of applications development and maintenance. </li>
  </ul>
  <p><strong>Work Experience</strong> </p>
  <p><u>Persistent Systems Limited</u> - Pune, India – OCT 2015 to till date</p>
  <p><strong>Module Lead - UI Development </strong></p>
  <ul>
  <li>Created click through Prototype using HTML5 &amp; CSS3 to demonstrate all the features of the application.</li>
  <li>Created grid component to provided functionality of add, edit, and delete the records with feature of drag and drop. It also has the ability to set the priority of any task. Also included drag-able popup with the screen.</li>
  <li>Developed UI for mobile app using ionic framework.</li>
  <li>Created email system similar to outlook or Gmail.</li>
  <li>Handled cross browser compatibility issues successfully.</li>
  <li>Developed UI the pages for application using the lightningdesign system (Salesforce). </li>
  </ul>
  <p><u>Cybage Software PVT Ltd</u> - Pune, India – DEC 2012 to OCT 2015</p>
  <p><strong>Software Engineer (FET)</strong></p>
  <ul>
  <li>Used Different kind of API’s while creating the pages like YouTube API, Google Map</li>
  <li>Helping other team members in fixing Cross Browser &amp; Cross Platform CSS issues.</li>
  <li>Worked for the various website optimizations to overcome the site performance.</li>
  <li>Worked on various Website Maintenance tasks to accomplish the same.</li>
  <li>Handled cross browser compatibility issues successfully.</li>
  <li>Responsible to train the fresher’s to guide them with respect to the current HTML standards &amp; best practices. </li>
  </ul>
  <p><u>Harbinger PVT Ltd </u>- Pune, India – FEB 2011 to DEC 2012</p>
  <p><strong><u>Flash Programmer</u></strong></p>
  <ul>
  <li>Developing various applications using Flash and Photoshop.</li>
  <li>Performed extensive coding for game applications, websites and online applications in Flash.</li>
  <li>Fixing bugs and troubleshooting other problems</li>
  <li>Experienced in building Flash applications and animations using ActionScript,<strong> <br /></strong></li>
  </ul>
  <p><strong>Education</strong> </p>
  <p>Bachelor of Computer Application  – TMV Pune – 2011</p>
  </td>
  <td style="width: 234.117px; vertical-align: top; background: #c1c9fa;padding: 10px;"> 
  <p style="text-align: justify;"><strong>Key Skills and Knowledge</strong></p>
  <p style="text-align: justify;"><strong>Languages </strong></p>
  <p style="text-align: justify;">HTML5</p>
  <p style="text-align: justify;">CSS3</p>
  <p style="text-align: justify;">Javascript</p>
  <p style="text-align: justify;">jQuery</p>
  <p style="text-align: justify;">Less</p>
  <p style="text-align: justify;">Bootstrap</p>
  <p style="text-align: justify;">Lightningdesign system</p>
  <p style="text-align: justify;">Backbonejs</p>
  <p style="text-align: justify;">ionic framework</p>
  <p style="text-align: justify;">Angular </p>
  <p style="text-align: justify;">Flash As2 and As3</p>
  <p style="text-align: justify;"> </p>
  <p style="text-align: justify;"> </p>
  <p style="text-align: justify;"><strong>Other Skills</strong></p>
  <p style="text-align: justify;">Flash</p>
  <p style="text-align: justify;">Dreamweaver</p>
  <p style="text-align: justify;"> </p>
  <p style="text-align: justify;"><strong>Tools</strong></p>
  <p style="text-align: justify;">Git</p>
  <p style="text-align: justify;">SVN</p>
  </td>
  </tr>
  </tbody>
  </table>
  <p> </p>