<div >
    
    <!-- <fa name="cog" animation="spin"></fa> -->
  <h5> <i class="fa fa-address-card address-icon" ></i>  Student Mark List</h5>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>NAME</th>
        <th>ENGLISH</th>
        <th>HINDI</th>
        <th>MATH </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let student of studentList; let i = index;"> 
        <th>{{student.id}}</th>
        <td>{{student.name | titlecase}}</td>
        <td>{{student.english}}</td>
        <td>{{student.math}}</td>
        <td>{{student.hindi}}</td>       
      </tr>
     
    </tbody>
  </table> 
</div>
